*{
    margin: 0;
    padding: 0;
}
body{
    color: #fff;
}
.bg{
    background-color: #212529;
}
#header{
    position: absolute;
    z-index: 999;
    width: 100%;
}
.navbar-brand{
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #ccc !important;
}
.navbar-brand img{
    width: 60%;
}
.nav-item{
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 15px;
}
.nav-link{
    color: #ccc !important;
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: 200;
}
.btn-outline-primary::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border: 2px solid transparent;
    background-image: linear-gradient(#0e0e30, #0e0e30), linear-gradient(90deg, #008cff, #6942ef);
    background-clip: padding-box, border-box;
    background-repeat: repeat-x;
    background-size: calc(100% + 2px * 2) calc(100% + 2px * 2);
    background-position: center;
    border-radius: 26px;
    z-index: -1;
    transition: border-color 0.2s;
}
.btn-outline-primary::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70vmax;
    height: 70vmax;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #008cff, #6942ef);
    transform-origin: center;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease-in-out;
    z-index: -1;
}
.btn-outline-primary:hover {
    box-shadow: none;
    color: white;
}
.btn-outline-primary:active{
    color: #c3c4d5;
}
.btn-primary{
    background: #6709c6;
    border-color: #6709c6;
}
.btn-primary::before{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 26px;
    background-image: linear-gradient(90deg, #0065ff, #6942ef, #6554c0, #008cff, #0065ff, #9b9b9b);
    background-size: 500%;
    background-position: 0% 0%;
    filter: blur(10px);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.2s;
}
.btn-pd{
    padding: 0.375rem 1.5rem;
}

.owl-carousel{
    width: 100%;
    height: 100vh;
}
.slide{
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.slide::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.slide-1{
    background-image: url(../assets/3dbetpoker.jpg);
}
.slide-2{
    background-image: url(../assets/3dbetpoker.jpg);
}
.owl-prev, .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff !important;
    font-size: 60px !important;
    font-weight: bolder !important;
    background: none !important;
}
.owl-prev{
    left: 1%;
}
.owl-next{
    right: 1%;
}

.accordion{
    width: 100%;
    padding: 5px 5px;
    border: 2px solid #008cff;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    margin: 10px 0;
    align-items: center;
}
.accordion .icon{
    margin: 0 10px 0 0;
    width: 30px;
    height: 30px;
    background: url(../assets/plus_icon.png) no-repeat 8px 7px #008cff;
    border-radius: 50%;
    float: left;
    transition: all .5s ease-in;
}
.active .icon{
    background: url(../assets/minus_icon.png) no-repeat 8px 7px #fff;
}
.accordion h5{
    font-size: 22px;
    margin: 0;
    padding: 3px 0 0 0;
    font-weight: normal;
    color: #fff;
}
.panel{
    padding: 0 15px;
    border-left: 1px solid #008cff;
    margin-left: 25px;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    max-height: 0px;
    width: 95%;
    transition: all .5s ease-in;
}

/* bank list */
.bank-list{
    width: 100%;
}
.bank{
    width: 100%;
    position: relative;
}
.bank img{
    width: 190px;
}
.footer-part{
    background-color: #0b111f;
}

.footer-top{
    padding: 80px 0;
}
.single-footer img{
    margin-bottom: 35px;
    vertical-align: middle;
    border-style: none;
    width: 60%;
}
.single-footer p{
    margin-bottom: 10px;
    color: #bebebe;
    line-height: 29px;
    font-size: 15px;
    font-weight: 300;
}
.single-footer h4{
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
}
.copyright-text{
    background-color: #0b111f;
    padding: 30px 0;
}
.copyright-text p{
    color: #888;
}

@media (max-width: 575.98px) {
    .navbar-brand{
        width: 70%;
    }
    .mx-xs-auto{
        margin-right: auto !important;
        margin-left: auto !important;
    }
    .col-sm-6{
        flex: 0 0 auto;
        width: 50%;
    }
    .bank img{
        width: 100%;
    }
    .my-sm-4 {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }
    .my-sm-5 {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }
    .accordion h5{
        font-size: 18px;
    }
    .owl-carousel,
    .slide{
        height: 50vh;
    }
    .owl-prev, .owl-next{
        font-size: 30px !important;
    }
    .my-xs-3 {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }
    .btn-pd{
        padding: 0.375rem 5.5rem;
    }
}
